$blokino_font_family: "" Avenir ", Helvetica, Arial, sans-serif";
$blokino_footer_color: #3a3333;
$btn_github: #38904f;
$btn_started: #60122c;
$color_background: #5e1c33;
$color_nav: #d8d8d4;
$color_white: white;
$color_black: black;
$win_download_color: #556fb5;
$linux_download_color: #e97a7a;
$bumper_color: #cc2828;
$button_color: #cc28a3;
$display_msg_color: #a3cc28;
$led_color: #a3cc28;
$matrix_leds_color: #cc5128;
$switch_color: #cc287a;
$program_section_color: #28a3cc;
$keypad_color: #cc2851;
$potentiometer_color: #287acc;
$sensor_motion_color: #7acc28;
$sensor_prox-badge: #28cc7a;
$motor-badge: #2851cc;
$joystick-badge: #28cc7a;
$servomotor-badge: #28cccc;

$grey-scale-1: #5e5e5e;
$grey-scale-2: #6d6d6d;

$black-scale-1: #242424;
$black-scale-2: #313131;
$black-scale-3: #0c0c0c;

$board-scale-1: #5e1c33;
$board-scale-2: #721435;
$board-scale-3: #4d1025;
$board-scale-4: #681632;

$yellow-scale-10: #d6e229;
$green-scale-10: #29e2b4;

$red-scale-10: #e23e29;

.border-space {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}

.img-border {
    border: 1px solid #c5c5c5;
}

.title-format {
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd;
}


@keyframes fade {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fade {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }